body{
    font-size:16px;
}
title-img{
    width:100%;
    max-width:100%;
    height:auto;
}

.container{
    width:1200px;
}

.article{
    width:741px;
}

.site-header-myset {
  background: white;
  height: 200px;
  margin-bottom: 40px;
}
.site-header-left{
    width:1200px;
}

h1 {
  font-size: 28px;
  border-bottom: 5px double #cccccc;
  color: black;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

h3 {
    font-size: 18px;
    color: black;
}

h2:before {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    border: 4px solid #B4B3BA;
    content: initial;
}

h2:after {
    position:  initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    border: 4px solid #747474;
    content: initial;
}

h3:before {
    position: initial !important;
    top: initial !important;
    left: initial !important;
    width: initial !important;
    height: initial !important;
    border: initial !important;
    content: initial !important;
}
h4:before {
    position: initial !important;
    top: initial !important;
    left: initial !important;
    width: initial !important;
    height: initial !important;
    border: initial !important;
    content: initial !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
code{
    background:#e1e1e1;
    padding-left:5px;
    padding-right:5px;
    margin:5px;
}

#article-list .article{
    /* margin-top:30px; */
    margin-top:0px;
    margin-bottom:60px;
    padding-bottom:40px;
}
#article-list h2{
    font-size:20px;
}


#pager .pagination .active a{
    height:12px;
}
#pager .pagination a{
    height:12px;
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
